* {
    box-sizing: border-box;
    font-family: Poppins;        
    margin: 0;
}

p {
    line-height: 180%;
}

a:focus {
    color: green;
    text-decoration: none;
}

.active {
    color: black;
    font-size: 15px;
}
/*.navLink {
    font-size: 16px;
}*/

.navStart {
    background: url(images/nature.jpg) fixed no-repeat; 
    background-size: cover;
    border-bottom: none;
    margin: 0;
}

.navScrolled {
    background-color: white;
    border-bottom: 1px solid #f7f4f4;
}

.navLinkScrolled {
    color: black;
    font-size: 16px !important;
    font-weight: bold !important;
}

.navLinkStart {
    color: white; 
    font-size: 16px !important;
    font-weight: bold !important;
}

.navLinkScrolled:hover {
    color: black;
    background-color: transparent !important;
    border-bottom: 2px solid black !important;
}

.navLinkStart:hover {
    color: white;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
}

.navbar-toggle .icon-bar {
    background-color: lightgrey;
    width: 20px;
}

.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border: 1px solid lightgrey;
}

#landingPage {
    background: url(images/nature.jpg) fixed no-repeat;
    background-size: cover;
    height: 670px;
/*    width: 100%;
*/    margin: 0;
    overflow: hidden;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.imageName {
    position: absolute;
    text-align: center;
    top: 103%;
/*    width: 85%;
*/    left: 50%;
    transform: translatex(-50%);
}

.profileImage {
    max-width: 360px;
    border-radius: 50%;
    margin-top: 15px;
}

.nameCareer {
    color: black;
    font-size: 18px;
    margin-top: 20px;
}

.name {
    font-size: 24px;
}

.container {
    position: absolute;
    top: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skillPortfolioWrap {
    position: absolute;
    text-align: center;
    background-color: white; /*#BFCD78*/
    width: 100%;
    top: 200%;
    left: 50%;
    transform: translatex(-50%);
}

.row {
    margin: 0;
}

.imageList {
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 60px;
}

.skill {
/*    background-color: #BFCD78;
*/}

.about, .skillBox {
    height: 550px;
/*    border: 1px solid #f2eeed;
*/    margin: 0;
}

.introduction {
    margin-top: 15px;
    text-align: left;
    font-size: 17px;
    padding: 35px 20px 35px 20px;
    background-color: white;
}

.about {
    border-right: none;
    padding: 45px 40px 40px 40px;
}

.skillBox {
    padding: 45px 35px 35px 35px;

}

.skillImageDiv {
    margin-bottom: 40px;
    margin-top: 95px;
    padding: 0;
    text-align: center;
    padding-left: 40px;
}

.skillImageDiv2 {
    padding-left: 40px;
}

.imageSkill {
    max-width: 60px;
}

.imageSkillCss {
    max-width: 45px;
}


.portfolioPage, .skill, #contactWrap {
    text-align: center;
    margin-top: 20px;
    color: black;
    padding: 0;
}

.skill > div > h2, 
.portfolioBox > h3,
.portfolioDiv > div > h2, 
#contactWrap > div > div > h2 {
    font-family: Poppins;
}

.portfolioDiv {
    padding: 20px;
}

#portfolioPageWrap, #contactWrap {
    margin-top: 120px;
    padding: 10px;
    margin-bottom: 120px;
    border: 1px solid #f2eeed;
    background-color: #8C7647;
}

.portfolioBox {
    height: 660px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px;
}

.portfolioImg {
    max-width: 100%;
    margin-top: 35px;
}

.portfolioText {
    text-align: left;
    font-size: 16px;
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.portfolioTextBtn {
    background-color: white;
    padding-bottom: 50px;
}

.linkResume, .link {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #5e4736;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    border-radius: 4px;
    background-color: #5e4736;
    margin-top: 20px;
}

.linkResume {
    position: absolute;
    top: 80%;
    padding-top: 6px;
    padding-bottom: 6px; 
    width: 130px;
    left: 50%;   
    transform: translatex(-50%);
}

.link {
    width: 70px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.linkResume:hover, .link:hover {
    text-decoration: none;
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
}

#contactWrap {
    height: 300px;
    padding-top: 50px;
    background-color: #4D6625;
    border: 1px solid #f2eeed;
}

.icon {
    width: 35px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(images/leaves.png);
  background-size: 100% 100%;
}


@media (max-width: 500px) {
    .container {
        width: 100%;
    }
    .about, .skillBox {
        border: 1px solid #f2eeed;
        margin: 0;
    }
    .about {
        padding: 45px 20px 40px 20px;
        height: 700px;
    }
    .skillBox {
        padding: 20px;
        padding-top: 45px;
        height: 490px;
    }
    .skillImageDiv, .skillImageDiv2 {
        padding: 0px;
    }
    .skillImageDiv {
        margin-top: 60px;
    }
    .imageList {
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px;
    }
    .portfolioPage > div > img {
        max-width: 318px;
    }
    .profileImage {
        max-width: 350px;
        top: 130px;
        left: 6.4%;
    }
    .nameCareer {
        left: 17.5%;
    }
    .linkLive, .linkGithub {
        top: 83%;
    }
    .linkGithub {
        left: 50%;
    }
    .portfolioBox {
        border-top: 1px solid #f2eeed;
        height: 700px;
    }
    .portfolioBox > h3 {
        margin-top: 50px;
    }
}

@media (min-width: 510px) and (max-width: 1190px) {
    .portfolioBox {
        border-top: 1px solid #f2eeed;
        height: 720px;
    }
    .portfolioBox > h3 {
        margin-top: 50px;
    }

}







