* {
    box-sizing: border-box;
    font-family: Poppins;        
    margin: 0;
    padding: 0;
}

p{
    line-height: 180%;
    color: black;
    font-size: 17px;
}

h1, h2, h3 {
    color: black;
    font-weight: bold;    
}

a:focus {
    color: green;
    text-decoration: none;
}

.active {
    color: black;
    font-size: 15px;
}

.navStart {
    background: url(images/nature.jpg) fixed no-repeat; 
    background-size: cover;
    border-bottom: none;
    margin: 0;
}

.navScrolled {
    background-color: #00251a;
    /*border-bottom: 1px solid #f7f4f4;
    background: url(images/footer_lodyas.png) fixed no-repeat;
    background-size: cover;*/
}

.navLinkScrolled {
    color: white;
    font-size: 15px !important;
    font-weight: bold !important;
}

.navLinkStart {
    color: white; 
    font-size: 15px !important;
    font-weight: bold !important;
}

.navLinkScrolled:hover {
    color: white;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
}

.navLinkStart:hover {
    color: white;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
}

.activeStart {
    color: white ; 
    background-color: transparent !important;
    font-size: 15px !important;
}

.activeScrolled {
    background-color: #00251a;
    color: white; 
    font-size: 15px !important;
}

.activeScrolled:hover, .activeStart:focus {
    color: white;
    background-color: transparent !important;
    border-bottom: 1px solid white !important;
}

.activeStart:hover, .activeStart:focus {
    color: white;
    background-color: transparent !important;
    border-bottom: 1px solid white !important;
}

.navbar-toggle .icon-bar {
    background-color: lightgrey;
    width: 20px;
}

.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border: 1px solid lightgrey;
}

#landingPage {
    background: url(images/nature.jpg) fixed no-repeat;
    background-size: cover;
    height: 670px;
    margin: 0;
    overflow: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    position: absolute;
    top: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#aboutTitle {
    text-align: center;
}

#aboutTitle > div {
    background-color: #00251a;
}

#aboutTitle > div > h2 {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: bold;
    color: white;
}

.imageName {
    text-align: center;
}

.name {
    margin-bottom: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.aboutText {
    position: relative;
    width: 65%;
    left: 52%;
    transform: translatex(-50%);
}

.profileImage {
    max-width: 360px;
    border-radius: 50%;
    margin-top: 70px;
}

.skillBox {
    position: relative;
    text-align: center;
    width: 70%;
    left: 50%;
    transform: translatex(-50%);
}

.skillBox > div > h3 {
    font-weight: bold;    
}

.skillBox > div {
    margin-top: 20px;
}

.skillImageDiv {
    padding: 0;
    text-align: center;
    margin-top: 30px;
}

.imageList {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.imageSkill {
    max-width: 42px;
    margin-right: 20px;
    margin-left: 20px;
}

.imageSkillCss {
    max-width: 30px;
}

.portfolioTitle {
    text-align: center;
    width: 100%;
    padding: 0;
}

.portfolioTitle > div {
/*    background: url(images/nature.jpg) fixed no-repeat;    
*/    margin-top: 60px;
    background-color: #00251a;
}

.portfolioTitle > div > h2 {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 12px;
}

.row {
    margin: 0;
}

.portfolioWrap {
    text-align: center;
    background-color: white; /*#9eaf82*/
    margin-bottom: 50px;
    padding-bottom: 40px;
    z-index: -1;
}

.portfolioWrap > div > h2 {
    font-weight: bold;
}

.portfolioText {
    position: relative;
    width: 60%;
    text-align: left;
    margin-top: 30px;
    left: 52%;
    transform: translatex(-50%);
}

.brickProBox {
    padding-top: 80px;
    background-color: #white; /*#F6F6DE #a1b77e*/
}

.brickProImage {
    width: 55%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.homeDecorBox {
    padding-top: 80px;
    border-top: 1px solid #bad39e;
    background-color: white; /*#F7F7DB #dbda95*/
}

.homeDecorImage {
    width: 55%;
    margin-bottom: 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.romancePlaceBox {
    padding-top: 80px;
    border-top: 1px solid #bad39e;
    background-color: white; /*#F7F7DB #dbda95*/
}

.romancePlaceImage {
    width: 60%;
    margin-bottom: 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.liveGithub {
    text-align: center;
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #009146;
    font-size: 20px;
    font-weight: bold;
    margin-top: 19px;
    margin-bottom: 70px;
    width: 77px;
    height: 35px;
    left: 39.5%;
    transform: translatex(-50%);
}

/*.linkResume {
    position: absolute;
    top: 80%;
    padding-top: 6px;
    padding-bottom: 6px; 
    width: 130px;
    left: 50%;   
    transform: translatex(-50%);
}*/

.link:hover {
    text-decoration: none;
    color: #009146;
    cursor: pointer;
    border-bottom: 2px solid #009146;
}

#contactWrap {
    height: 300px;
    padding-top: 50px;
    background-color: #4D6625;
    border: 1px solid #f2eeed;
}

.icon {
    width: 35px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(images/leaves.png);
  background-size: 100% 100%;
}


@media (max-width: 500px) {
    .container {
        width: 100%;
    }
    .portfolioPage > div > img {
        max-width: 318px;
    }
    .aboutText {
        width: 93%;
    }
    .skillBox {
        width: 100%;
    }
    .imageSkill {
        width: 35px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .imageSkillCss {
        width: 25px;
    }
    .imageList {
        margin: 0;
    }
    .portfolioText {
        width: 90%;
    }
    .brickProImage, .homeDecorImage, .romancePlaceImage {
        width: 85%;
    }
    .link {
        left: 32%;
    }

    /*.portfolioBox {
        border-top: 1px solid #f2eeed;
        height: 700px;
    }
    .portfolioBox > h3 {
        margin-top: 50px;
    }*/
}

@media (min-width: 510px) and (max-width: 1190px) {
    .portfolioBox {
        border-top: 1px solid #f2eeed;
        height: 720px;
    }
    .portfolioBox > h3 {
        margin-top: 50px;
    }

}







