* {
    box-sizing: border-box;
    font-family: Poppins;        
    margin: 0;
    padding: 0;
}

p{
    line-height: 180%;
    color: black;
    font-size: 17px;
}

h1, h2, h3 {
    color: black;    
}

a:focus {
    color: green;
    text-decoration: none;
}

.active {
    color: black;
    font-size: 15px;
}

.navStart {
    background: url(images/nature.jpg) fixed no-repeat; 
    background-size: cover;
    border-bottom: none;
    margin: 0;
}

.navScrolled {
    background-color: #00251a;
/*    border-bottom: 1px solid #f7f4f4;
*/}

.navLinkScrolled {
    color: white;
    font-size: 15px !important;
    font-weight: bold !important;
}

.navLinkStart {
    color: white; 
    font-size: 15px !important;
    font-weight: bold !important;
}

.navLinkScrolled:hover {
    color: white;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
}

.navLinkStart:hover {
    color: white;
    background-color: transparent !important;
    border-bottom: 2px solid white !important;
}

.activeStart {
    color: white ; 
    background-color: transparent !important;
    font-size: 15px !important;
}

.activeScrolled {
    background-color: #00251a;
    color: white; 
    font-size: 15px !important;
}

.activeScrolled:hover, .activeStart:focus {
    color: white;
    background-color: transparent !important;
    border-bottom: 1px solid white !important;
}

.activeStart:hover, .activeStart:focus {
    color: white;
    background-color: transparent !important;
    border-bottom: 1px solid white !important;
}

.navbar-toggle .icon-bar {
    background-color: lightgrey;
    width: 20px;
}

.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border: 1px solid lightgrey;
}

#landingPage {
    background: url(images/nature.jpg) fixed no-repeat;
    background-size: cover;
    height: 670px;
    margin: 0;
    overflow: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    position: absolute;
    top: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.aboutTitle {
    text-align: center;
}

.aboutTitle > div {
    margin: 0;
    padding: 0;
}

.aboutTitle > div > h1 {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    font-weight: bold;
}

.imageName {
    text-align: center;
}

.name {
    margin-bottom: 20px;
    margin-top: 27px;
    font-weight: bold;
}

.aboutText {
    position: relative;
    width: 65%;
    left: 52%;
    transform: translatex(-50%);
}

.profileImage {
    max-width: 360px;
    border-radius: 50%;
    margin-top: 20px;
}

.nameCareer {
    color: black;
    font-size: 18px;
    margin-top: 20px;
}

.skillBox {
    position: relative;
    text-align: center;
    width: 70%;
    left: 50%;
    transform: translatex(-50%);
}

.skillBox > div > h3 {
    font-weight: bold;    
}

.skillImageDiv {
    padding: 0;
    text-align: center;
    margin-top: 30px;
}

.imageList {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.imageSkill {
    max-width: 42px;
    margin-right: 20px;
    margin-left: 20px;
}

.imageSkillCss {
    max-width: 30px;
}

.portfolioTitle {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    padding: 0;
/*    margin-bottom: -15px;
*/}

.portfolioTitle > div > h1 {
    background-color: #91a375;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.row {
    margin: 0;
}

.portfolioWrap {
    text-align: center;
    background-color: #647744;
    margin-bottom: 50px;
    padding: 30px;
}

.portfolioWrap > div > h2 {
    font-weight: bold;
}

.brickproText {
    position: relative;
    width: 60%;
    text-align: left;
    margin-top: 20px;
    left: 52%;
    transform: translatex(-50%);
}

.bridgeImage {
    width: 55%;
}

.skillPortfolioWrap {
    text-align: center;
    background-color: white; /*#BFCD78*/
    width: 100%;
}

.liveGithub {
    text-align: center;
}

/*.liveGithub > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}*/



/*.portfolioPage, #contactWrap {
    text-align: center;
    margin-top: 20px;
    color: black;
    padding: 0;
}

.portfolioDiv {
    padding: 20px;
}*/

/*#portfolioPageWrap, #contactWrap {
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 120px;
    border: 1px solid #f2eeed;
    background-color: #4D6625;
}*/

/*.portfolioBox {
    height: 660px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px;
}

.portfolioImg {
    max-width: 100%;
    margin-top: 35px;
}

.portfolioText {
    text-align: left;
    font-size: 16px;
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 30px;
    margin-bottom: 20px;
}*/

/*.portfolioTextBtn {
   padding-bottom: 50px;
}*/

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 78px;
    left: 39%;
    transform: translatex(-50%);
}

/*.linkResume {
    position: absolute;
    top: 80%;
    padding-top: 6px;
    padding-bottom: 6px; 
    width: 130px;
    left: 50%;   
    transform: translatex(-50%);
}*/

.link:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid white;
}

#contactWrap {
    height: 300px;
    padding-top: 50px;
    background-color: #4D6625;
    border: 1px solid #f2eeed;
}

.icon {
    width: 35px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(images/leaves.png);
  background-size: 100% 100%;
}


@media (max-width: 500px) {
    .container {
        width: 100%;
    }
    .portfolioPage > div > img {
        max-width: 318px;
    }
    .aboutText {
        width: 90%;
        left: 53%;
        transform: translatex(-50%);
    }
    .skillBox {
        width: 100%;
        left: 54%;
    }
    .imageSkill {
        width: 35px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .imageSkillCss {
        width: 25px;
    }
    .imageList {
        margin: 0;
    }
    .linkLive, .linkGithub {
        top: 83%;
    }
    .linkGithub {
        left: 50%;
    }
    .portfolioBox {
        border-top: 1px solid #f2eeed;
        height: 700px;
    }
    .portfolioBox > h3 {
        margin-top: 50px;
    }
}

@media (min-width: 510px) and (max-width: 1190px) {
    .portfolioBox {
        border-top: 1px solid #f2eeed;
        height: 720px;
    }
    .portfolioBox > h3 {
        margin-top: 50px;
    }

}







